/* index start */
.cont-login101-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.wrap-login101-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
}

.login101-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 300%;
  background: #6ad8c9;
  background: -webkit-linear-gradient(top, #6ad8c9, #4e65e7, #6ad8c9, #778bfa);
  background: -o-linear-gradient(top, #6ad8c9, #4e65e7, #6ad8c9, #778bfa);
  background: -moz-linear-gradient(top, #6ad8c9, #4e65e7, #6ad8c9, #778bfa);
  background: linear-gradient(top, #6ad8c9, #4e65e7, #6ad8c9, #778bfa);
  bottom: -100%;
  left: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login101-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 25px;
  height: 25px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

.wrap-login101-form-btn:hover .login101-form-bgbtn {
  bottom: 0;
}
/* index end */